/**
 * Styling
 */
table.ahs_metabox td, table.ahs_metabox th { border-bottom: 1px solid #E9E9E9; }
table.ahs_metabox th { text-align: right; font-weight:bold;}
table.ahs_metabox th label { margin-top:5px; display:block;font-size:12px;}
p.ahs_metabox_description { color: #333; font-style: italic; margin: 2px 0 !important;}
span.ahs_metabox_description { color: #333; font-style: italic;}
table.ahs_metabox input, table.ahs_metabox textarea { font-size:12px; padding: 5px; }
table.ahs_metabox input[type=text], table.ahs_metabox textarea { width: 97%; }
table.ahs_metabox textarea.ahs_textarea_code { font-family: Consolas,Monaco,monospace; line-height: 16px;}
table.ahs_metabox input.ahs_text_small { width: 100px; margin-right: 15px;}
table.ahs_metabox input.ahs_text_medium { width: 230px; margin-right: 15px;}
table.ahs_metabox input.ahs_upload_file { width: 65%; }
table.ahs_metabox li { font-size:12px; margin: 1px 0 5px 0; line-height: 16px; }
table.ahs_metabox ul { padding-top:5px; margin: 0; }
table.ahs_metabox select { font-size:12px; margin-top: 3px;}
table.ahs_metabox input:focus, table.ahs_metabox textarea:focus { background: #fffff8;}
.ahs_metabox_title { margin: 0 0 5px 0; padding: 5px 0 0 0; font: italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;}
.ahs_radio_inline { padding: 4px 0 0 0;}
.ahs_radio_inline_option {display: inline; padding-right: 18px;}
table.ahs_metabox input[type="radio"] { margin: 0 5px 0 0; padding: 0;}
table.ahs_metabox input[type="checkbox"] { margin: 0 5px 0 0; padding: 0;}
table.ahs_metabox .mceLayout {border:1px solid #DFDFDF !important;}
table.ahs_metabox .mceIframeContainer {background:#FFF;}
table.ahs_metabox .meta_mce {width:97%;}
table.ahs_metabox .meta_mce textarea {width:100%;}
table.ahs_metabox .ahs_upload_status {  margin: 10px 0 0 0;}
table.ahs_metabox .ahs_upload_status .img_status {  position: relative; }
table.ahs_metabox .ahs_upload_status .img_status img { border:1px solid #DFDFDF; background: #FAFAFA; max-width:350px; padding: 5px; -moz-border-radius: 2px; border-radius: 2px;}

/* Sidebar placement adjustments */
.inner-sidebar table.ahs_metabox input[type=text], table.ahs_metabox textarea { width: 95%; }
.inner-sidebar table.ahs_metabox .ahs_upload_status .img_status img { width: 90%; }

/* hide save post message url */
.updated a {display:none;}